# Assignment 6

## Try to submit as an HTML file

<font size = "5">
Print your Emory code below

In [1]:
print(2644338)

2644338

<font size = "5">

Import the "pandas" and "matplotlib.pyplot" libraries

In [3]:
# Write your answer here:

import pandas as pd
import matplotlib.pyplot as plt

<font size = "5">

(a) Functions

<font size = "3">

- Read the dataset labelled features.csv.
- Create a ``` lambda ``` function that checks if displacement $>$ 200
- Create a new list that shows true if displacement $>$ 200 and false <br>
if displacement $\leq$ 200.
- Count how many cars have displacement $> 200$.

To get full credit use either the apply or the map function <br>
(see Lectures 7 and 8)

In [41]:
# Write your answer here:

# read dataset 
print(os.getcwd())
features=pd.read_csv("/Users/joannayao/Desktop/qtm151spring2025_joanna/assignment6/data/features.csv")
features

# lambda fxn + create list 
features["displacement > 200"]=features["displacement"].apply(lambda displacement: displacement>200)
features
new_list=features["displacement > 200"]

# count using sum() fxn from pd
print(str((features["displacement > 200"]==True).sum())+" cars")
    # 158 cars w/ displacement > 200.

/Users/joannayao/Desktop/qtm151spring2025_joanna/assignment6
158 cars

<font size = "5">

(b) Subsetting Data

<font size = "3" >

- Read the dataset labelled features.csv.
- Define a global variable called ```threshold``` that takes the <br>
value 2588
- Subset the data to get one dataset with weight $>$ threshold and <br>
another with weight $\le$ 2588. Use the ```.query()``` function.
- Compute the mean acceleration for each of these datasets.<br>

Note: Review how to define a gloabl variable inside ```.query()```

In [59]:
# Write your answer here:

# read features 
features=pd.read_csv("/Users/joannayao/Desktop/qtm151spring2025_joanna/assignment6/data/features.csv")
features

# define global variable
threshold=2588 

# subsetting data
ds_1=features.query("weight>@threshold")
ds_2=features.query("weight<=@threshold")
ds_1
ds_2

      mpg  cylinders  displacement horsepower  weight  acceleration vehicle_id
14   24.0          4           113         95    2372          15.0  T-1689934
17   21.0          6           200         85    2587          16.0  F-1689967
18   27.0          4            97         88    2130          14.5  D-1689978
19   26.0          4            97         46    1835          20.5  V-1689989
21   24.0          4           107         90    2430          14.5  A-1690011
..    ...        ...           ...        ...     ...           ...        ...
385  38.0          4            91         67    1995          16.2  D-1694015
388  26.0          4           156         92    2585          14.5  C-1694048
391  36.0          4           135         84    2370          13.0  D-1694081
394  44.0          4            97         52    2130          24.6  V-1694114
395  32.0          4           135         84    2295          11.6  D-1694125

[162 rows x 7 columns]

<font size = "5">

(c) Use sorting + ".iloc[]"

<font size = "3">

- Read the "fifa23_players_basic.csv" dataset
- Use ".sort_values()" to order the "Age" column <br>
from youngest to oldest
- Get a subset with the 5 youngest players

In [58]:
# Write your answer here:
fifaplayers=pd.read_csv("/Users/joannayao/Desktop/qtm151spring2025_joanna/assignment6/data/fifa23_players_basic.csv")

# sort values
fifaplayers.sort_values(by="Age",ascending=True) # there's also descending, etc, etc. 

# subset
ds_3=fifaplayers.iloc[0:5]
ds_3

<font size = "5">

(d) Use queries + global variables

<font size = "3">

- Read the "fifa23_players_basic.csv" dataset
- Compute the mean of the column "Wage(in Euro)" <br>
and store it as a variable
- Subset the players whose value is above the mean value <br>
  using ".query()"


HINT: Remember that there is a special syntax for <br>
when the column names have spaces (see Lecture 10) <br>
Reference the column as ``` `Wage(in Euro)`    ``` inside .query()

In [72]:
# Write your answer here:
fifaplayers=pd.read_csv("/Users/joannayao/Desktop/qtm151spring2025_joanna/assignment6/data/fifa23_players_basic.csv")

# compute mean wage 
wages=fifaplayers['Wage(in Euro)']
mean_wage=wages.mean()

# subsetting time! 
ds_4 = fifaplayers.query("`Wage(in Euro)` > @mean_wage") # watch `` placement! 
ds_4

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,National Team Name,National Team Image Link,National Team Position,National Team Jersey Number,Attacking Work Rate,Defensive Work Rate
0,L. Messi,Lionel Messi,91,91,54000000,RW,CAM,Argentina,https://cdn.sofifa.net/players/158/023/23_60.png,35,...,Left,4,4,5,Argentina,https://cdn.sofifa.net/flags/ar.png,RW,10,Low,Low
1,K. Benzema,Karim Benzema,91,91,64000000,"CF,ST",CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,34,...,Right,4,4,4,France,https://cdn.sofifa.net/flags/fr.png,ST,19,Medium,Medium
2,R. Lewandowski,Robert Lewandowski,91,91,84000000,ST,ST,Poland,https://cdn.sofifa.net/players/188/545/23_60.png,33,...,Right,4,4,5,Poland,https://cdn.sofifa.net/flags/pl.png,ST,9,High,Medium
3,K. De Bruyne,Kevin De Bruyne,91,91,107500000,"CM,CAM",CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,31,...,Right,5,4,4,Belgium,https://cdn.sofifa.net/flags/be.png,RF,7,High,High
4,K. Mbappé,Kylian Mbappé,91,95,190500000,"ST,LW",ST,France,https://cdn.sofifa.net/players/231/747/23_60.png,23,...,Right,4,5,4,France,https://cdn.sofifa.net/flags/fr.png,ST,10,High,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14279,A. Lewis,Adam Lewis,61,65,450000,"LWB,LB",LWB,England,https://cdn.sofifa.net/players/243/056/23_60.png,22,...,Left,2,2,1,-,https://cdn.sofifa.net/flags/gb-eng.png,-,-,Medium,Medium
15117,B. Knight,Ben Knight,60,74,600000,RW,CAM,England,https://cdn.sofifa.net/players/263/955/23_60.png,20,...,Left,3,3,1,-,https://cdn.sofifa.net/flags/gb-eng.png,-,-,Medium,Medium
15441,T. Suengchitthawon,Thanawat Suengchitthawon,60,70,550000,CAM,RM,Thailand,https://cdn.sofifa.net/players/259/324/23_60.png,22,...,Right,3,2,1,-,-,-,-,Medium,Medium
15957,P. Glatzel,Paul Glatzel,59,65,375000,ST,ST,Germany,https://cdn.sofifa.net/players/247/507/23_60.png,21,...,Left,3,3,1,-,https://cdn.sofifa.net/flags/de.png,-,-,Medium,Low
16157,C. Chukwuemeka,Caleb Chukwuemeka,58,71,500000,"RW,RM,LW",ST,England,https://cdn.sofifa.net/players/258/748/23_60.png,20,...,Right,4,3,1,-,https://cdn.sofifa.net/flags/gb-eng.png,-,-,Medium,Low

<font size = "5">

(e) Plot by Category

<font size = "3">

Read the "data/wdi_urban.csv" dataset.

  This contains data from 1980 and 2020.

- **Create a list with the unique values of "year"**

- **Create a plot with a ...**
    - Histogram of "prop_urbanpopulation" for each year
    - Set the histogram option `alpha = 0.5` for transparency
    - All the histograms should be overlapping
    - Create a legend with the list of years
    - Label the axes and the title

In [74]:
# Write your answer here:

# read dataset
wdi_urban=pd.read_csv("/Users/joannayao/Desktop/qtm151spring2025_joanna/assignment6/data/wdi_urban.csv")
wdi_urban

     year yearcode            countryname countrycode  prop_urbanpopulation
0    1980   YR1980            Afghanistan         AFG                15.995
1    1980   YR1980                Albania         ALB                33.762
2    1980   YR1980                Algeria         DZA                43.542
3    1980   YR1980         American Samoa         ASM                74.330
4    1980   YR1980                Andorra         AND                92.064
..    ...      ...                    ...         ...                   ...
429  2020   YR2020  Virgin Islands (U.S.)         VIR                95.939
430  2020   YR2020     West Bank and Gaza         PSE                76.719
431  2020   YR2020            Yemen, Rep.         YEM                37.908
432  2020   YR2020                 Zambia         ZMB                44.629
433  2020   YR2020               Zimbabwe         ZWE                32.242

[434 rows x 5 columns]